<h3 class="bg-danger mb-1 p-2 text-white">Access Denied: You do not have enough permission to visit this page. </h3>
<a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-outline-primary">Logout</a> 